<h1>{{title}}</h1>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/things">Things</a>
  <a class="navbar-brand" routerLink="/cars">Cars</a>
</nav>
<router-outlet></router-outlet>
