<div class="container">
    <h2>Cars</h2>
    <form [formGroup]="carForm" (ngSubmit)="onSubmit(carForm.value)" class="form-group needs-validation" noValidate>
        <div class="form-group">
            <label for="make">Make</label>
            <input id="make" class="form-control" type="text" formControlName="make" placeholder="Enter make" required>
            <div class="invalid-feedback">
                    A car make is required.
            </div>
        </div>
        <div class="form-group">
            <label for="model">Model</label>
            <input id="model" class="form-control" type="text" formControlName="model" placeholder="Enter model" required>
            <div class="invalid-feedback">
                    A car model is required.
            </div>
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            <input id="year" class="form-control" type="text" formControlName="year" placeholder="Enter year" required>
            <div class="invalid-feedback">
                    A car year is required.
            </div>
        </div>
        <div class="form-group">
            <label for="mileage">Mileage</label>
            <input id="mileage" class="form-control" type="text" formControlName="mileage" placeholder="Enter mileage" required>
            <div class="invalid-feedback">
                    A car mileage is required.
            </div>
        </div>

        <button class="button btn btn-primary" type="submit">Add Car</button>
    </form>

    
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Make</td>
            <td>Model</td>
            <td>Year</td>
            <td>Mileage</td>
        </tr>
        <tr *ngFor="let car of cars$ | async">
            <td>{{car.id}}</td>
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.year}}</td>
            <td>{{car.mileage}}</td>
            <td><button (click)="onDelete(car.id)" type="button" class="btn btn-danger">Delete</button></td>
        </tr>
    </table>


</div>
